@model Evaluacion1.User

<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
</head>
<body>
    <h1>@Model.FirstName</h1>
    <h1>@Model.LastName</h1>
    <h1>@Model.Document</h1>
</body>
</html>
